<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="{{ site.author }}" />
    {% if page.title %}
      <meta name="description" content="{{ page.title }}" />
    {% endif %}

    <!-- 取消关键字，不让搜索引擎搜索 -->
    <!-- {% if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ', ' }}" />
    {% else %}
      <meta name="keywords" content="{{ site.name }}" />
    {% endif %} -->

    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" /> -->
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" media="all"/>
    <script type="text/javascript" src="/media/js/jquery-3.6.0.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1044030972017008"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        <nav>
          <span><a title="网站首页" class="" href="/">首页</a></span>
          <span><a title="文章分类" class="" href="/categories/">分类</a></span>
          <span><a title="标签索引" class="" href="/tags/">标签</a></span>
          <!--<span><a title="友情链接" class="" href="/links/">链接</a></span>-->
          <span><a title="关于作者" class="" href="/about/">关于</a></span>
        </nav>
        <article class="content">
          {{ content }}
        </article>
      </div>

      <footer>
        <p><small>
            <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank" title="许可协议">©</a> 2015 - {{site.time | date:"%Y"}} <a href="/about/">{{ site.author }}</a>
        </small></p>
      </footer>
    </div>
  </body>
</html>
